html
body 
  height: 100%

*
  margin: 0px
  margin-block: 0px
  margin-inline: 0px


#app
  min-height: 100svh

a
  text-decoration: none
  color: #ffffff
  

ul
  list-style: none

.login-signup-form-container
  display: flex
  flex-direction: column
  row-gap: 1rem
  align-items: center

